@use "../../assets/styles/variables";

#footer {
  background-color: variables.$background-light-blue;
  padding: 0.5rem 0;
  color: initial;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  > .footer-informations {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  > .footer-icons {
    display: flex;
    gap: 1.5rem;
    position: relative;
  }
}

.footer-icons {
  > .icon {
    position: absolute;
    width: 50px;
    height: 50px;
  }

  > .icon:hover {
    animation: rotate 0.5s linear;
  }
}

.icon {
  & img {
    width: 100%;
    height: 100%;
  }

  &.github {
    top: -25px;
    left: -109px;
  }

  &.linkedin {
    top: -25px;
    left: -50px;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
