@use "../../assets/styles/variables";

#footer {
  background-color: variables.$background-light-blue;
  padding: 0.5rem 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .footer-informations {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  > .footer-icons {
    display: flex;
    gap: 1.5rem;
    position: relative;
  }
}

.footer-icons {
  > icon {
    position: absolute;
  }

  > .icon:hover {
    animation: rotate 0.5s linear;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
